.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: $font__sans;
}

.cat-links {
	&:after {
		content: " | ";
		margin: 0 .5em;
	}
	a {
		text-decoration: underline;
		font-family: $font__sans;
		color: $color__interactive;
		font-size: 1.1em;
		&:hover,&:focus {
			text-decoration: none;
		}
	}
}

.tags-links, .comments-link, .edit-link {
	a {
		text-decoration: underline;
		font-family: $font__sans;
		color: $color__interactive;
		font-size: 1.1em;
		&:hover,&:focus {
			text-decoration: none;
		}
	}
}

.entry-title {
	font-size: 2.5em;
	margin-bottom: .1em;
	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	a {
		text-decoration: none;
		color: $color__interactive;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.entry-meta {
	font-size: 90%;
	a {
		color: $color__interactive;
		text-decoration: none;
		&:focus, &:hover {
			text-decoration: underline;
		}
	}
}

// .byline {
// 	&:after {
// 		content: " | ";
// 		margin: 0 .5em;
// 	}
// }

.comments-link, .edit-link {
	&:before {
		content: " | ";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}