.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: $font__sans;
	font-size: .9em;
}

.entry-content {
	p {
		img {
			padding-bottom: 1em;
		}
	}
}

.cat-links {
	&:after {
		content: " | ";
		margin: 0 .5em;
	}
	a {
		text-decoration: underline;
		font-family: $font__sans;
		color: $color__interactive;
		font-size: 1.1em;
		&:hover,&:focus {
			text-decoration: none;
		}
	}
}

.tags-links, .comments-link, .edit-link {
	a {
		text-decoration: underline;
		font-family: $font__sans;
		color: $color__interactive;
		font-size: 1.1em;
		&:hover,&:focus {
			text-decoration: none;
		}
	}
}

.entry-title {
	font-size: 2.5em;
	margin-bottom: .1em;
	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	a {
		text-decoration: none;
		color: $color__interactive;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.entry-meta {
	font-size: 90%;
	a {
		color: $color__interactive;
		text-decoration: none;
		&:focus, &:hover {
			text-decoration: underline;
		}
	}
}

// .byline {
// 	&:after {
// 		content: " | ";
// 		margin: 0 .5em;
// 	}
// }

.comments-link, .edit-link {
	&:before {
		content: " | ";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	//background-color: #ECECEC;
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 2em;
	header, div, footer {
		
		.entry-meta {
			padding-left: 0px;
		}
	}
}

/* Single Post Featured Images */

.full-bleed {
	width: 100vw;
	max-height: 1200px;
	margin-top: 1em;
	margin-left: -1em;
	border-top: 1px solid hsl(0, 0%, 90%);
	border-bottom: 1px solid hsl(0, 0%, 90%);
	overflow: hidden;
	
	@media screen and (min-width: $query__small) {
		margin-left: -2em;
	}
	
	@media screen and (min-width: $query__medium) {
		margin-top: 1.5em;
		//margin-right: -2em;
		width: inherit;
		margin-left: 0;
		border: none;

	}
	
	@media screen and (min-width: $size__max-width) {
		margin-right: calc( ((-100vw + #{$size__max-width})/2) - 2em );
		margin-left: calc( ((-100vw + #{$size__max-width})/2) - 2em );
	}
	img {
		display: block;
		margin: 0 auto;

	}
}


.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


@media screen and (min-width: $query__medium) {
	.content-area {
		width: 60%;
		max-width: 1000px;
	}
	.post {
		header, div, footer {
			//padding: 1em 3em;
		}
	}
	.entry-footer {
		font-size: 1em;
		a {
			font-size: 1em;
		}
	}
	.site-content {
		max-width: 1024;
	}

}

//Portfolio Styles

#portfolio-main {
	.entry-content {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		a {
			color: $color__interactive;
			text-decoration: none;
			h3 {
				text-decoration: underline;
			}
			figure {
				position: relative;
				margin-bottom: 2em;
				max-width: 300px;
			}
			
		}
		
	}
}

@media screen and (min-width: $query__medium) {
	#portfolio-primary {
		width: 80%;
		max-width: 2000px;
	}

	.entry-content {
		a {
			position: relative;
		}
	}

	.thumbnail img{
		width: 300px;
		height: 300px;
	}
	.thumbnail {
		overflow: hidden;
		width: 300px;
		height: 300px;
	}

	figure.thumbnail figcaption::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, $color__interactive 75%);
		content: '';
		opacity: 0;
		-webkit-transform: translate3d(0,50%,0);
		transform: translate3d(0, 50%, 0);
	}

	figure.thumbnail h3 {
		position: absolute;
		top: 40%;
		left: 0;
		margin-left: 0px;
		text-align: center;
		width: 100%;
		color: rgba(1,1,1,0);
		font-size: 1.5em;
		-webkit-transition: -webkit-transform 0.35s, color 0.35s;
		transition: transform 0.35s, color 0.35s;
		-webkit-transform: translate3d(0,-50%,0);
		transform: translate3d(0,-50%,0);
	}
	figure.thumbnail figcaption::before,
	figure.thumbnail p {
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		color: #fff;
		font-size: 1em;
	}

	figure.thumbnail p {
		position: absolute;
		//top: 50%;
		bottom: 0;
		left: 0;
		padding: 2em;
		width: 100%;
		opacity: 0;
		-webkit-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0);
	}

	figure.thumbnail:hover h3 {
		color: #fff;
		-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
		transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	}

	figure.thumbnail:hover figcaption::before,
	figure.thumbnail:hover p {
		color: #fff;
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

}

//Contact Styles 
.fa-social-media {
	padding-right: 20px;
	cursor: pointer;
	&:hover {
		opacity: .6;
	}
}
.fa-twitter {
	color: #00aced;
}
.fa-instagram {
	color: #bc2a8d;
}
.fa-pinterest {
	color: #cb2027;
}
.fa-etsy {
	color: #D5641C;
}

@media screen and (min-width: $query__medium) {
	.entry-content {
		p {
			img {
				padding-bottom: 1em;
			}
		}
	}
}